/*Color themes referenced from: https://visme.co/blog/website-color-schemes/ Made by various creators*/
:root {
    --background-color-1: #EEE2DC;
    --background-color-2: #EDC7B7;
    --contrast-color: #BAB2B5;
    --color-1: #AC3B61;
    --color-2: #123C69;
}

.theme-1 {
    --background-color-1: #EAE7DC;
    --background-color-2: #D8C3A5;
    --contrast-color: #8E8D8A;
    --color-1: #E98074;
    --color-2: #E85A4F;
}

.theme-2 {
    --background-color-1: #88BDBC;
    --background-color-2: #254E58;
    --contrast-color: #112D32;
    --color-1: #4F4A41;
    --color-2: #6E6658;
}

.theme-3 {
    --background-color-1: #F7F9FB;
    --background-color-2: #8FC1E3;
    --contrast-color: #667864;
    --color-1: #5085A5;
    --color-2: #31708E;
}

.theme-4 {
    --background-color-1: #F172A1;
    --background-color-2: #E64398;
    --contrast-color: #A1CED1;
    --color-1: #F0EBF4;
    --color-2: #B39BC8;
}

.theme-5 {
    --background-color-1: #FBE8A6;
    --background-color-2: #F4976C;
    --contrast-color: #303C6C;
    --color-1: #B4DFE5;
    --color-2: #D2FDFF;
}

.theme-6 {
    --background-color-1: #3B8BEB;
    --background-color-2: #B23850;
    --contrast-color: #E7E3D4;
    --color-1: #C4DBF6;
    --color-2: #8590AA;
}

/*---------------------General Stylesheet For All Pages-------------------------------------------*/
body {
    background-color: var(--background-color-1);
    height: 100%;
    overflow: auto;
}

/* Changing the link attribute using a pseudo-selector to turn a different color after a link
is clicked. Normally this would happen anyway but we are changing it to fit our color scheme */
a:link {
    color: var(--color-1);
}

a:visited {
    color: var(--color-2);
}

/* In this next part we create the css styling for the upper and bottom navigation bars.*/
#logo {
    height: 130px;
    width: auto;
    padding: 5px;
}

.topnav {
    /*position: sticky;*/
    /*top: 0;*/
    display: flex; /*Wherever possible we try to use a flexbox to make our page more responsive*/
    justify-content: space-between;
    align-content: center;
    min-width: 100vh;
}

.nav-links {
    list-style: none;
    color: var(--color-1);
    text-align: center;
    font-size: 2.5vh; /*Similarly we try and stick to vh for text sizing because it is responsive to different screen sizes*/
}

.nav-links li {
    display: inline-block;
    padding: 5px 25px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: var(--color-1);
}

/*Here we incorporate our first animation to change the color and font-weight of our nav links upon the hover of a user's mouse*/
.nav-links li a:hover {
    color: var(--color-2);
    font-weight: bold;
}

#download-resume-btn {
    padding: 15px 15px;
    margin: 20px 5px;
    /*background-color: rgba(237, 199, 183, 1); !*we use the rgba option here so we can control the opacity of our color for more hover animations*!*/
    background-color: var(--background-color-2);
    color: var(--color-1); /*we had a set color scheme for this site and we decorate every element according to that*/
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

#download-resume-btn:hover {
    /*background-color: rgba(237, 199, 183, 0.6);*/
    background-color: var(--background-color-1);
    color: var(--color-2);
    text-decoration-line: underline;
    font-weight: bolder;
    font-size: medium;
}

.bottomnav {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    /*min-width: 100vh;*/
    /*float: right;*/
}

.icon {
    border: 2px solid black;
    padding: 5px;
    margin: 1px;
}

.icon:hover {
    background-color: var(--background-color-2);
    border: none;
}

/* Code Reference for Folding Menu: https://codepen.io/animatedcreativity/pen/wOqBQr?editors=0100 By: Animated Creativity*/
.tools { /*style for parent div of tools menu does nothing to effect transitions*/
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: var(--color-1);
    display: inline-block;
    cursor: pointer;
    cursor-events: none;
    position: sticky;
    bottom: 10px;
    left: 20px;
}

.tools:hover {
    cursor-events: all; /*basically is just changing the cursor when hovered over the span TOOlS*/
}

.label {
    display: inline-block;
    cursor: pointer;
    cursor-events: all;
}

.label:hover {
    color: var(--color-2);
}

.spacer { /*styling for the line, this is when animations start*/
    display: inline-block;
    width: 80px;
    margin: 0 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--contrast-color);
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 7s;
}

.tools-item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.8s ease, top 0.8s ease;
    transition-delay: 7s;
}

.tools span {
    transition: color 0.5s ease;
    transition-delay: 0s;
}

.tools-item:hover span {
    color: var(--color-2);
    transition-delay: 0s;
}

.tools:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.tools:hover .tools-item {
    opacity: 1;
    top: 0px;
    transition-delay: 0s;
}

/*---------------------Home.html Stylesheet-----------------------------------------------*/
.container-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    min-height: 70vh;
    min-width: 100vh;
    padding: 25px;
}

#portrait {
    width: 485px;
    max-width: 100%;
    height: auto;

    order: 1;
    flex: 1 1 initial;
}

#intro {
    max-width: 500px;
    overflow: auto;
    text-align: center;
    font-size: 2.25vh;
    font-family: sans-serif;

    order: 2;
    flex: 1 1 initial;
}

#hiMessage_span {
    /*color: darkgoldenrod;*/
    color: var(--color-2);
    font-weight: bold;
    transition: all 0.4s ease 0.2s;
}

#hiMessage_span:Hover {
    color: var(--contrast-color);
    text-decoration-line: underline;
}

/*---------------------Projects.html Stylesheet-------------------------------------------*/
.container-proj1 {
    margin: 20px 50px;
    display: grid; /*Since our project page has a more complex layout we style the different project blocks using Grid*/
    grid-template-columns: 400px 900px;
    grid-template-rows: 100px 480px 50px;
    grid-template-areas:
    "title slides"
    "body slides"
    "switch slides";
}

#proj1-title {
    color: var(--color-2);
    grid-area: title;

}

.container-proj1 p {
    grid-area: body;
    text-align: justify;
    font-size: 1.7vh;
    font-stretch: expanded;
    font-family: sans-serif;
}

#btn-proj1 {
    grid-area: switch; /*we added two selectors to this element, one to style it with the rest of the page buttons and the other to position this specific button in its grid*/
}

.download-btn {
    padding: 15px 15px;
    /*background-color: rgba(234, 187, 172, 1);*/
    background-color: var(--background-color-2);
    color: var(--color-2);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease 0.1s;
}

.download-btn:hover {
    background-color: var(--background-color-1);
    color: var(--color-1);
    text-decoration-line: underline;
    font-weight: bolder;
    font-size: medium;
}

/*Here we build our first and only fully css slideshow, the rest will be made using Javascript*/
.container-proj1-slides {
    grid-area: slides;
    width: 100vh;
    height: 60vh;
    overflow: hidden;
    padding: 10px 100px;
}

.slide-1-img {
    width: 60%;
    height: 100%;
}

.slideshow-navbar-1 {
    position: absolute;
    bottom: 160px;
    left: 50%;
    display: flex;
}

.bar1 {
    width: 50px;
    height: 10px;
    border: 2px solid #000;
    margin: 6px;
    cursor: pointer;
    transition: 0.1s;
}

.bar1:hover {
    border: 3px solid #000;
    background-color: var(--color-1);
}

input[name="r1"] {
    position: absolute;
    visibility: hidden;
}

.slides-1 {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide-1 {
    width: 20%;
    transition: 0.6s;
}

/*.slide-1 img{*/
/*    width: 120%;*/
/*    height: 100%;*/
/*}*/
.slide-1 iframe {
    width: 80%;
    height: 100%;
}

#r1-1:checked ~ .s1 {
    margin-left: 3%;
}

#r1-2:checked ~ .s1 {
    margin-left: -17%;
}

#r1-3:checked ~ .s1 {
    margin-left: -35%
}

#r1-4:checked ~ .s1 {
    margin-left: -55%;
}

#r1-5:checked ~ .s1 {
    margin-left: -75%;
}


.container-proj2 {
    margin: 60px 50px;
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 100px 480px 50px;
    grid-template-areas:
    "title-writing title-code"
    "body slides"
    "switch slides";
}

#proj2-title {
    color: var(--color-2);
    grid-area: title-writing;
}

.container-proj2 p {
    grid-area: body;
    text-align: justify;
    font-size: 2vh;
    /*font-stretch: expanded;*/
    font-family: sans-serif;
}

#btn-proj2 {
    grid-area: switch;
}

#proj2-code-title {
    grid-area: title-code;
    margin: 0 50px;
    padding: 21px;
}

#proj2-code {
    grid-area: slides;
    margin: 0 100px;
    width: 100%;
}

.proj2-code-title-rest {
    display: none; /*Because we aren't building these slideshows right now we remove the secondary slides from the page entirely.*/
}

.proj2-code-rest {
    display: none; /*As mentioned we will add them back in a future unit*/
}


.container-proj3 {
    margin: 80px 50px;
    display: grid;
    grid-template-columns: 400px 425px 425px;
    grid-template-rows: 50px 700px;
    grid-template-areas:
    "title-writing nav-prev nav-next"
    "body slides slides";
}

#proj3-title {
    color: var(--color-2);
    grid-area: title-writing;
}

.container-proj3 p {
    grid-area: body;
    text-align: justify;
    font-size: 2vh;
    font-stretch: expanded;
    font-family: sans-serif;
}

.proj3-carousel {
    grid-area: slides;
    margin: 0 100px;
}

/*this likely won't fit into your layout*/
.prev {
    grid-area: nav-next;
    translate: 80px;
    /*font-weight: 700;*/

}

.next {
    grid-area: nav-next;
    translate: 900px -25px;

}

.nav-btn {
    /*background: rgba(237, 199, 183, 0.55);*/
    background: var(--background-color-2);
    /*color: #EDC7B7;*/
    cursor: pointer;
    font-size: 32px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    margin: 0;
    border: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.nav-btn:hover {
    /*background: rgba(237, 199, 183, 1);*/
    background: var(--background-color-1);
}

.proj3-carousel {
    transition: all 0.3s ease;
}

.proj3-carousel pre {
    width: 850px;
    height: 500px;
    overflow: auto;
    transition: all 0.3s ease;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
}

.item {
    position: absolute;
    display: none;
}

.main {
    display: block;
}

/*---------------------Work.html Stylesheet-------------------------------------------*/
.container-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    min-width: fit-content;
    min-height: 75.5vh;
    padding-left: 50px;
}

.container-work h2 {
    font-weight: bolder;
    font-size: 3.5vh;
}

.activityTitle {
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--color-2);
}

.date {
    font-size: 2vh;
    color: var(--contrast-color);
}

.container-work li {
    font-size: 2vh;
}

/*---------------------Clubs.html Stylesheet-------------------------------------------*/
.container-clubs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    min-width: 100vh;
    min-height: 100vh;
    padding: 50px;
}

.container-clubs h2 {
    font-weight: bolder;
    font-size: 3.5vh;
}

.container-clubs li {
    font-size: 2vh;
}

/*----------------------------------References.html Stylesheet--------------------------------------*/
.container-references {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-references h2 {
    color: var(--color-2);
    font-size: 3vh;
    font-family: Arial, serif;
    font-weight: bold;
    text-decoration-line: underline;
}

/*----------------------------------Contact.html Stylesheet--------------------------------------*/
.container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 75vh;
    min-width: 65vh;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 10px 5px;
}

.container-contact h2 {
    color: var(--color-2);
    font-size: 3vh;
    font-weight: bold;
    font-family: Georgia, serif;
}